.details-view {
  width: 100%;
  height: 40vh;
  /* border: 2px solid #4a5456; */
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(5px);
}

.sections {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section-rows {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.data-tabs {
  width: 50%;
  height: 100%;
  display: flex;
  /* border: 1px solid #fff; */
  flex-direction: row;
  padding: 20px;
}

.margin-tabs {
  padding-top: 60px;
  text-align: left;
  align-items: flex-end;
  justify-content: flex-end;
}

.image-view {
  height: 25px;
  width: 25px;
}

.location-text {
  font-size: 14px;
}

.para1-text {
  font-size: 14px;
  width: 60%;
  text-wrap: stable;
}

.temp-text {
  font-size: 50px;
  /* font-weight: bold; */
}

.blur-text {
  opacity: 0.4;
}

.weather-image {
  height: 60px;
  aspect-ratio: 1;
}

.temp-view {
  flex-direction: row;
  display: flex;
  align-items: flex-start;
}

.margin-text {
  padding-left: 30px;
}
