.App {
  background-color: #36496f;
  /* text-align: center; */
  overflow-y: scroll;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  background: url("./assets/images/pikaso_texttoimage_pixel-art-a-dark-sky-8bits.jpeg")
    center / contain;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-y: scroll;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-view {
  width: 100%;
  height: 90%;
  margin-top: 60px;
}

.card-outer {
  border: 1px solid #586062;
  border-radius: 20px;
  display: flex;
  height: 90%;
  width: 20%;
  background: transparent;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  backdrop-filter: blur(4px);
}
